.div1{
    margin-left: 300px;
    margin-top: -40px;
color: #fff;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.div2{
width: 1700px;
height: 61px;
background: #0152A8;
}
.div3{
    position: relative;
    top: -45px;
left: 900px;
width: 34.624px;
height: 34.624px;
}
.div4{
    position: relative;
    left: 940px;
    top: -95px;
    color: #fff;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.div5{
    position: relative;
    left: 250px;
    top: -97px;
}
.div6{
    position: relative;
left: 300px;
top: -150px;
    width: 61.394px;
height: 57.837px;
}
.div7{
    position: relative;
    top: -230px;
    left: 360px;
color: #1C1C1C;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 105%;
}
.div9{
    position: relative;
    top: -400px;
    left: 620px;
    display: flex;
    justify-content: space-around;
width: 580px;
height: 85px;
padding: 83.08px 518.804px 0px 0px;
align-items: center;
flex-shrink: 0;
}
.div8{
position: relative;
left: 130px;
display: flex;
padding: 16px 37px;
align-items: flex-start;
gap: 10px;
background: #0FE3AF;
border: 2px solid #0FE3AF;
}
.div8:hover{
    background-color: black;
    color: #0FE3AF;
    border: 2px solid black;
}
.div10{
    position: relative;
    top: -400px;
    width: 1700px;
    height: 186px;
}
.div11{
position: relative;
top: -550px;
left: -50px;
color: #1C1C1C;
text-align: center;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 114.5%;
}
.div12{
    position: relative;
    top: -400px;
    left: 400px;
background-color: whitesmoke;
display: flex;
width: 200px;
height: 200px;
padding: 45px 30px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
}
.div13{
position: relative;
top: -670px;
left: 440px;
width: 54px;
height: 54px;
}
.div14{
    position: relative;
    top: -655px;
    left: 440px;
    color: #1C1C1C;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 114.5%;
}
.div15{
    position: relative;
    top: -650px;
    left: 440px;
color: #545454;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 142%;
}
.div16{
    position: relative;
    top: -645px;
    left: 440px;
color: #363636;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 160%;
}
.div17{
    position: relative;
    top: -680px;
    left: 520px;
    width: 16.789px;
height: 16.789px;
}
.div18{
    position: relative;
    top: -550px;
    left: 280px;
}
.div19{
    position: relative;
    left: 560px;
    top: -1100px;
}
.div20{
    position: relative;
    top: -2050px;
    left: 1210px;
    width: 270px;
height: 290px;
}
.div21{
    position: relative;
    left: -110px;
}
.div22{
    position: relative;
    top: -1600px;
    left: -110px;
}
.div23{
    position: relative;
    top: -3500px;
    left: 300px;
 width: 1090px;
height: 500px;
}
.div24{
    position: relative;
    top: -3850px;
    left: 650px;
display: flex;
width: 300px;
height: 100px;
padding: 46px 31px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
background:white;
}
.div25{
    position: relative;
    top: -4000px;
    left: 790px;
    color: #1C1C1C;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 142%;
letter-spacing: 5.81px;
text-transform: uppercase;
background: white;
border: 1px solid black;
}
.div26{
    position: relative;
    top: -3998px;
    left: 735px;
color: #1C1C1C;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 130%;
}
.div27{
position: relative;
top: -4020px;
color: #545454;
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 142%;
}
.div28{
    position: relative;
    top: -3750px;
    width: 1700px;
    height: 800px;
    background: #0152A8;
}
.div29{
    position: relative;
    top: -4400px;
    left: 300px;
 width: 84.903px;
height: 26.878px;
background-color: #0152A8;
color: #fff;
border: 1px solid #fff;
}
.div29:hover{
    background-color: #FFF;
    color: #0152A8;
    border: 2px solid white;
}
.div30{
    position: relative;
    top: -4390px;
    left: 300px;
    color: #FFF;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 130%;
}
.div31{
    position: relative;
    top: -4470px;
    left: 1200px;
    display: flex;
padding: 17px 31px;
justify-content: center;
align-items: center;
gap: 10px;
background: #0FE3AF;
border: 2px solid #0FE3AF;
color: #0152A8;
}
.div31:hover{
    background-color: #545454;
    color: #0FE3AF;
    border: 2px solid #0152A8;
}
.div32{
    position: relative;
    top: -4420px;
    left: 300px;
display: flex;
width: 300px;
height: 400px;
padding: 30px;
flex-direction: column;
align-items: center;
gap: 23px;
flex-shrink: 0;
background: #004A99;
}
.div33{
    position: relative;
    top: -4850px;
    left: 330px;
    width: 300px;
height: 300px;
}
.div34{
    position: relative;
    top: -4850px;
    left: -350px;
color: #fff;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 114.5%;
}
.div35{
    position: relative;
    top: -4855px;
    left: -350px;
    color: #FFF;
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 142%;
}
.fa-instagram{
    position: relative;
    top: -4860px;
    left: 400px;
    font-size: x-large;
    color: #FFF;
}
.fa-facebook{
    position: relative;
    top: -4860px;
    left: 440px;
    font-size: x-large;
    color: #FFF;
}
.fa-twitter{
    position: relative;
    top: -4860px;
    left: 480px;
    font-size: x-large;
    color: #FFF;
}
.div36{
    position: relative;
    left: 400px;
    top: -880px;
}
.div37{
    position: relative;
    top: -1760px;
    left: 800px;
}
.div38{
position: relative;
left: 300px;
top: -300px;
color: white;
display: flex;
font-family: Montserrat;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 130%;
justify-content: space-around;
width: 1200px;
}
.div39{
    margin-top: -6600px;
    background-color: #0152A8;
    width: 1700px;
    height: 300px;
}
.div40{
    position: relative;
    left: 300px;
    top: -300px;
    display: flex;
    justify-content: space-around;
width: 1200px;
    color: #fff;
text-align: center;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 173%;
letter-spacing: 5.81px;
text-transform: uppercase;
}
.div41{
    margin-top: -200px;
    width: 1734.528px;
height: 556.786px;
    background: #E5F2EF;
}
.div42{
    margin-top: -320px;
}
.div43{
    position: relative;
    top: -45px;
left: 900px;
width: 34.624px;
height: 34.624px;
}
.div45{
    position: relative;
    left: 940px;
    top: -95px;
    color: black;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.div44{
    position: relative;
    left: 250px;
    top: -97px;
}
.div46{
    margin-left: -50px;
    margin-top: -240px;
}
.div51{
    color: black;
     margin-left: 600px;
}
.div52{
    position: relative;
    left: 350px;
    top: -150px;
    color: #1C1C1C;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 141%;
}
.div53{
    margin-top: -340px;
    margin-left: 700px;
    display: flex;
    justify-content: space-around;
    width: 700px;
    color: #1C1C1C;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 114.5%;
}
.div54{
    margin-left: -120px;
    margin-top: 40px;
    color: #545454;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;
}
.div55{
    position: relative;
    top: 20px;
    left: -400px;
    color: #545454;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;
}
.div56{
    position: relative;
    top: -190px;
    left: 1050px;
    color: #545454;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 142%;
}
.div57{
    position: relative;
    left: 1050px;
    top: -190px;
    width: 325.698px;
height: 40px;
}
.div58{
    position: relative;
    top: -180px;
    left: 1050px;
    display: flex;
padding: 17px 42px;
align-items: flex-start;
gap: 10px;
background: #0152A8;
border: 2px solid #0152A8;
color: white;
}
.div58:hover{
    background-color: white;
    color: #0152A8;
    border: 2px solid white;
}